    <!DOCTYPE html>  
    {% load bootstrap_toolkit %}  
    {% load url from future %}  
    <html lang="en">  
    <head>  
        <link rel="stylesheet" type="text/css" href="/mycalendar_static/login.css">
        <meta charset="utf-8">  
        <title>My Calendar</title>  
 
        {% bootstrap_stylesheet_tag %}  
        {% bootstrap_stylesheet_tag "responsive" %}  
        <style type="text/css">  
            body {  
                padding-top: 60px;
                background:#f2d4d8; 
            }  
        </style>  
        <!--[if lt IE 9]>  
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>  
        <![endif]-->  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>  
        {% bootstrap_javascript_tag %}  
        {% block extra_head %}{% endblock %}  
    </head>  
      
    <body>  
      
        {% if password_is_wrong %}  
            <div class="alert alert-error">  
                <button type="button" class="close" data-dismiss="alert">×</button>  
                <h4>Error!</h4>Password error.  
            </div>  
        {% endif %}      
        <div class="well registerform">  
            <h1>My Calendar</h1>  
            <p> </p>  
            <form class="form-horizontal" action="" method="post">  
                {% csrf_token %}  
                {{ form|as_bootstrap:"horizontal" }}  
                <p class="form-actions">  
                    <input type="submit" value="Sign up" class="btn btn-primary">  
                    <a href="#"><input type="button" value="forget password" class="btn btn-danger"></a>
                    <a href="/mycalendar/login"><input type="button" value="Log in" class="btn btn-success"></a>  
                </p>  
            </form>  
        </div>  
      
    </body>  
    </html>  
